.logo{
	margin-top: .5rem;
	margin-left: .5rem;
	width: 4rem;
	display: inline-block;
	position: fixed;
}

.hamburger{
	background-image: url('/assets/images/hamburger.png');
	width: 2rem;
	height: 1.5rem;
	display: inline-block;
	position: fixed;
	right: 2.5rem;
	top: 1rem;
	background-size: cover;
}

button.action-button{
	width: 100%;
	min-height: 4rem;
	border-radius: 3px;
	background-color: #fff;
	color: #3498DB;
	outline: none;
	margin-top: 1rem;
	border: none;
	transition: all .3s;
	font-size: 1.4rem;
	font-weight: 300;
	&:hover{
		background-color: #FAFAFA;
		cursor: pointer;
	}
}

.half{
	display: inline-block;
	width: 48%;
	height: auto;
	@media(max-width: $phone){
		display: block;
		width: 100%;
	}
}
.third{
	display: inline-block;
	width: 32%;
	height: auto;
	@media(max-width: $tablet){
		display: block;
		width: 48%;
	}
	@media(max-width: $phone){
		display: block;
		width: 100%;
	}
}

label, input[type=text], input[type=number], .signup-map, .full{
	width: 90%;
	margin-left: 5%;
	font-size: 1.3rem;
}

label{
	font-weight: 300;
	color: #333;
	margin-top: .5rem;
}
input[type=text], input[type=number]{
	border: 0px solid #fff;
	border-bottom: 3px solid #333;
	text-align: right;
}