// app.scss

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

$phone: 460px;
$tablet: 860px;

*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

#content{
	padding-top: 4.5rem;
}

@import "landing";
@import "forms"; 
@import "components";
@import "images";



.half{
	display: inline-block;
	width: 46%;
	height: auto;
	@media(max-width: $phone){
		display: block;
		width: 100%;
	}
}
.third{
	display: inline-block;
	width: 32%;
	height: auto;
	@media(max-width: $tablet){
		display: block;
		width: 48%;
	}
	@media(max-width: $phone){
		display: block;
		width: 100%;
	}
}