// app.scss

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$phone: 460px;

*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

@import "landing";
@import "components";