// app.scss

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$phone: 460px;
$tablet: 860px;

*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

#content{
	padding-top: 4.5rem;
}

@import "landing";
@import "forms"; 
@import "components";
@import "images";