<div id="userSignup">
    <form>
        <label for="nameUser">Name</label>
        <input type="text" id="nameUser" value="Robert">
        <label for="nameUser">Age</label>
        <input type="ageUser" id="ageUser" value="27">
        <input type="text" id="Location" value="Paseo de los Tamarindos 90, Bosques de las Lomas">
        <iframe class="signup-map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDjyBl1yDS6cC_nBxspSHZ01vek5VDKpG0
          &q=Paseo+de+Los+Tamarindos+90,+Bosques+de+las+Lomas">
        </iframe>
        <input type="button" value="Send">
    </form>
</div>