<div id="userSignup">
    <form>
        <label for="nameUser">Name</label>
        <input type="text" id="nameUser" value="Robert"><br><br>
        <label for="nameUser">Age</label>
        <input type="number" id="ageUser" value="27"><br><br>
        <label for="Location">Location</label>
        <input type="text" id="Location" value="Paseo de los Tamarindos 90, Bosques de las Lomas">
        <iframe class="signup-map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDjyBl1yDS6cC_nBxspSHZ01vek5VDKpG0
          &q=Paseo+de+Los+Tamarindos+90,+Bosques+de+las+Lomas">
        </iframe>
        <input class="action-button" type="button" onclick="load('shared/bigbubble.html', 'offer')" value="Send">
    </form>
</div>